@import "./base/base";
@import "./components/buttons";
@import "./abstracts/colors";
@import "./abstracts/fonts";

body {
    background: $primary-content-color;
    header {
        background: $primary-header-color;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $font-color-header;
        font-family: $header-font;
        flex-wrap: wrap;
        h1 {
            font-size: 2em;
            margin-left: 1rem;
        }
        #searchBar {
            padding: 0.8rem;
            border-radius: 1.25rem;
            width: 18rem;
            margin-right: 1rem;
        }
        
    }

    main {
    .descrText {
        height: 10rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;
        h2 {
            font-size: 1.2em;
            max-width: 50rem;
            background-color: $primary-header-color;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 10px;
        }
        
    }
}
    
    #container {
        margin-top: 2rem;
        padding-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $content-font;
        flex-wrap: wrap;
        .movieCard {
            width: 18.75rem;
            height: 33rem;
            margin: 1rem;
            border-radius: 0.313rem;
            box-shadow: 0.2px 4px 5px black;
            position: relative;
            overflow: hidden;
            background: white;
            .poster {
                width: 100%;
            }
            .movie-info {
                display: flex;
                margin: 0;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                .rating {
                    background: black;
                    color: white;
                    padding: 0.5rem;
                    border-radius: 0.313rem;
                    font-weight: bold;
                }
            }
            .overview {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: white;
                padding: 1rem;
                max-height: 100%;
                transform: translateY(101%);
                transition: transform 0.3s ease-in;
            }
        }
    }
}

#container .movieCard:hover .overview {
    transform: translateY(0);
}