@import "./base/base";
@import "./components/buttons";
@import "./abstracts/colors";
@import "./abstracts/fonts";

body {
    background-color: $primary-content-color;
    header {
        background-color: $primary-header-color;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $font-color-yellow;
    }
    main {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        section {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}

