$primary-header-color: linear-gradient(to right, #3c3b3f, #605c3c);
$primary-content-color: linear-gradient(to right, #ffefba, #ffffff);

$font-color-header: rgb(255, 255, 255);
$font-color-content: black;

$alt-header-color: #11122C;
$alt-content-color: #B6B7E2;